/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: #1e293b;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ESTILO GLOBAL */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f5f8;
    color: #333;
    line-height: 1.6;
}

h1{
    margin-bottom: 10px;
}
h2{
    margin-bottom: 10px;
}

main{
    padding: 20px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover{
    color: #38bdf8;
}

/* TABELA */

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
